<!doctype html>
<html>
	<head>
		<title> Customer Management System</title>
	<script
		src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
		<script src="javascripts/main.js"></script>
	</head>
    <body>
        <h1>Hello <%= sessionemail%> </h1>

        <h1><Insertar cliente></h1>

        <ul>
        <% if (errors) { %>
        <% errors.forEach( function(error){  %>
            <li><%=error.msg %></li>
        <% }) %>
        <% } %>

        </ul>

        <ul>
        <form method="POST" action="/users/add" id="form">
            <label>Nombre</label>
            <input type="text" name="first_name">
            <br>
            <label>Apellido</label>
            <input type="text" name="last_name">
            <br>
            <label>Email</label>
            <input type="email" name="email">
            <br>
            <input type="submit" Value="Enviar" name="submit">
        </form>

        </ul>
            <h1><%=title %></h1>
        <ul>
        <% users.forEach(function(user) { %>
                <li><%=user.first_name %> <%= user.last_name%> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a> - <a href="#" class="editUser" data-id="<%= user._id %>" data-first_name="<%= user.first_name %>" data-last_name="<%= user.last_name %>" data-email="<%= user.email %>">Editar</a></li>

        <% }) %>
        </ul>

        <a href=/logout>Logout</a>
    </body>
</html>